body {

	font-family: 'Oxygen', sans-serif;
}

div.menuItem {

	background-color: #A4A4A4;
	text-align: center;
	padding: 20px;
}

div.content {

	background-color: #F00;
	padding: 100px;
}

div#imageContainer {

	overflow: hidden;
}